<div class='panel panel-primary'>
    <div class='panel-heading'>
        <!-- Data binding, is where we project values from the TS component
        file onto the html view. There are many different forms of data Binding.
    
        the     {{}}    is know as interpolation. It evaluates an expression, so you can do 
        simple operations like {{5+10}} = 15, or you can refer to variables inside of the TS 
        component file. Doing this is known as One-Way Data Binding. so this diplays the value 
        and also immediately shows changes made in the TS file of the that value. it cannot be 
        change or manipulated from the html page i.e. data from the ts file shows on the html but 
        data from the html does not show on the ts.-->
        {{pageTitle}} {{234+43}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>
                Filter By:
            </div>
            <div class='col-md-4'>
                <!-- The [()] is used to acheive two-way data-binging, this allows
                values to be projected both ways, from TS to html, and html to TS
            
                ngModel is a attribute Directive, when used in [()] in the context of an input
                field, it will bind the "value" attribute of the input tag to the varible
                you declare in components TS file-->
                <input type='text' [(ngModel)] = 'listFilter'>
                {{attrListFilter}}
            </div>
        </div>
    </div>
</div>

<div class = 'table-responsive'>
    <table class ='table'>
        <thead>
            <tr>
                <th>
                    <!--the () syntax is used for Event Binding, Event Binding ties an HTML
                    element's event to a TS method. is 2-way binding-->
                    <button class='btn btn-primary' (click)='toggleImage()'>
                        {{showImage? 'Hide': 'Show'}}
                    </button>
                </th>
                <th>{{'SuperHero' | uppercase}}</th>
                <th>Ability</th>
                <th>Org</th>
            </tr>
        </thead>
        <tbody>
            <!--Directives, are custom markers on a DOM element (attribute, element name, or CSS class) 
            that tell Angualr to attach specified behavior to the Dom Element, or even transfor that DOM and
            its childern.
            Below is a structural directive, it can alter the entire structure DOM and its elements
            some common examples of Structural Directives are:
                *ngFor, *ngIf, *ngSwitch, *ngDefault, *ngIfElse-->
            <tr *ngFor ='let temp of filteredSuperHeroes'>
                <td>
                    <!-- [] is the syntax for property binding, itsis a one-way binding where
                    we project values from TS on to the attributes of an html element-->
                    <img *ngIf='showImage' [src] = 'temp.image' width = '100' margin = '2'/>
                </td>
                <td><a [routerLink]="['/profile', temp.name]">{{temp.name}}</a></td>
                <td>{{temp.ability}}</td>
                <!-- Pipes, Pipes transform the data before it is displayed in interpolation
                    they use the {{target | pipeType }} syntax, there are predefined pipes of uppercase, lowercase, format
                    currency, etc-->
                <td>{{temp.organization | uppercase}}</td>
            </tr>
        </tbody>
    </table>

</div>